PORT=3000
OPENAI_API_KEY=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
MANYCHAT_API_KEY=2971386:e12db6d5c717fbd13528627727e37665
TELEGRAM_BOT_TOKEN=7060420566:AAG8XvjriD1RXP4R8P43f2zbNqQ1mN6Titc
ADMIN_USER_IDS=1370845765
FASTAPI_BASE_URL=http://127.0.0.1:8000
GOOGLE_APPLICATION_CREDENTIALS=google-service-account.json
GOOGLE_PROJECT_ID=centering-land-452511-q9
GOOGLE_CLIENT_EMAIL=instaai@centering-land-452511-q9.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY_ID=626caf7537da8363a6ed52b5cac7e6018ed258f4
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0B..."
