# Web Framework
fastapi>=0.104.1
uvicorn>=0.24.0
python-dotenv>=1.0.0

# Database
beanie>=1.23.6
pymongo>=4.6.1
motor>=3.3.2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# AI & NLP
openai>=1.0.0
whisper

# HTTP & API
requests>=2.31.0
aiohttp

# Utils
python-multipart>=0.0.5
pydantic>=2.5.1
pydantic-settings>=2.0.0
pytz
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
